@import "./../../../styles/variable";
.emp-form {
  font-family: "Carnas-thin";
  color: #5c5c5c;
  &.not-dialog {
    margin-top: $font-68;
  }
  .emp-heading {
    font: {
      weight: bolder;
      size: 1.5rem;
    }
  }
  button {
    font-weight: 400;
    color: $white;
    &.button-close {
      position: inherit;
      top: 0;
      right: 0;
      border: none;
      background: none;
      font-size: $font-26;
      &:focus {
        outline: none;
        cursor: pointer;
      }
    }
  }
  label {
    font-weight: 400;
    &.invalid {
      color: red;
    }
  }
  input {
    font-weight: 400;
    &.ng-invalid.ng-touched {
      border-color: red;
      border-width: $font-2;
    }
  }
}
