.emp-form {
  &.not-dialog {
    margin-top: 68px;
  }
  button.button-close {
    position: inherit;
    top: 0;
    right: 0;
    border: none;
    background: none;
    font-size: 26px;
    color: darkgrey;
    &:focus {
      outline: none;
      cursor: pointer;
    }
  }
  label {
    &.invalid {
      color: red;
    }
  }
  input {
    &.ng-invalid.ng-touched {
      border-color: red;
      border-width: 2px;
    }
  }
}
