<div class="header container-fluid">
    <div class="container d-flex align-items-center">
        <a routerLink="/mainDashboard" class="logo mr-auto">
            <img src="../../../assets/Data_Manipulation_2x.png">
            <span class="d-none d-md-inline">POC3 Practice</span> 
        </a>
        <div class="header-right ml-auto">
            <a class="active mr-3" routerLink="/mainDashboard">Home</a>
            <a class="mr-3" routerLink="/empDashboard">Employee Details</a>
            <a class="mr-3" routerLink="/about">About Us</a>
            <a class="mr-3" routerLink="/contact">Contact Us</a>
            <a href="javascript:void(0)" (click)="logoutUser()">Logout</a>
        </div>
    </div>
</div>