<div class="header container-fluid">
    <div class="container d-flex align-items-center">
        <a routerLink="/mainDashboard" class="logo mr-auto">
            <img src="../../../assets/Data_Manipulation_2x.png">
            POC3 Practice
        </a>
        <div class="header-right ml-auto">
            <a class="active mr-3" routerLink="/mainDashboard">Home</a>
            <a class="mr-3" routerLink="/empDashboard">Employee Details</a>
            <a class="mr-3" routerLink="/about">About Us</a>
            <a routerLink="/contact">contact Us</a>
        </div>
    </div>
</div>