.main-dashboard {
  margin-top: 53px;
  h4 {
    font-size: 17px;
  }
  .has-search {
    input {
      border: none;
      padding: 6px 0;
      &:focus {
        outline: none;
      }
    }
  }
  .record-section {
    max-height: 420px;
    overflow-y: scroll;
  }
  .add-record {
    margin-top: 35px;
    button {
      border: none;
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 255, 0.5),
        rgba(0, 0, 255, 0.8)
      );
      color: #fff;
      font-weight: 500;
      font-size: 13px;
      .mat-badge-content {
        color: #fff;
        background: black;
      }
    }
  }
}
