@import "./../../../styles/variable";
.main-dashboard {
  margin-top: $font-53;
  h4 {
    font-size: $font-17;
    font-weight: bolder;
  }
  .has-search {
    input {
      border: none;
      padding: $font-6 0;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: $font-13;
        font-weight: bold;
      }
    }
  }
  .record-section{
    height: 55vh;
    overflow-y: auto;
  }
  .add-record {
    margin-top: $font-35;
    button {
      border: none;
      font-weight: bold;
      background-image: linear-gradient(
        to top,
        rgb(2, 71, 254, 0.6),
        rgb(2, 71, 254, 0.9)
      );
      color: $white;
      font-size: $font-13;
      .mat-badge-content {
        color: $white;
        background: black;
      }
    }
  }
}
