$bg-color: #345aff;
$white: #fff;
$bp-768: 768px;
$font-13: 0.81rem;
$font-53: 3.3125rem;
$font-8: 0.5rem;
$font-68: 4.25rem;
$font-1: 0.06rem;
$font-2: 0.13rem;
$font-3: 0.19rem;
$font-4: 0.3rem;
$font-5: 0.3rem;
$font-6: 0.4rem;
$font-8: 0.5rem;
$font-10: 0.6rem;
$font-12: 0.8rem;
$font-14: 0.9rem;
$font-15: 0.9rem;
$font-16: 1rem;
$font-17: 1.06rem;
$font-18: 1.1rem;
$font-20: 1.3rem;
$font-21: 1.31rem;
$font-22: 1.38rem;
$font-24: 1.5rem;
$font-25: 1.6rem;
$font-26: 1.63rem;
$font-28: 1.8rem;
$font-30: 1.88rem;
$font-32: 2rem;
$font-35: 2.19rem;
$font-36: 2rem;
$font-40: 3rem;
$font-44: 3rem;
$font-48: 3rem;
$font-50: 3rem;
$font-56: 4rem;
$font-64: 4rem;
$font-72: 5rem;
$font-75: 5rem;
$font-80: 5rem;
$font-90: 6rem;
$font-100: 6rem;
$font-minus-4: -0.25rem;
