@import "./../../../styles/variable";
@import "./../../../styles/mixins";
.emp-dashboard {
  margin-top: $font-53;
  font-family: "Carnas-bold";
  .mat-elevation-z8 {
    height: 55vh;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $bg-color;
      border-radius: 10px;
    }
    table {
      width: 100%;
      td,
      th {
        font-weight: bolder;
        padding: $font-8;
      }
      td {
        color: #8f8f8f;
        button {
          color: $white;
          &.edit {
            background: #00b7eb;
          }
          &.del {
            background: #fe2712;
          }
        }
      }
      th {
        color: #1f1f1f;
        font-size: $font-14;
      }
    }
  }

  .mat-form-field {
    font-size: $font-14;
    width: 100%;
  }
  button {
    font-family: "Carnas-thin";
    font-weight: bold;
    &.add-emp {
      border: none;
      color: $white;
      @include setGradient(to top, rgb(2, 71, 254, 0.6), rgb(2, 71, 254, 0.9));
    }
  }
}
