@import "./../../../styles/variable";
@import "./../../../styles/mixins";
.emp-dashboard {
  margin-top: $font-53;
  font-family: "Carnas-bold";
  .mat-elevation-z8 {
    height: 55vh;
    overflow-y: auto;
    table {
      width: 100%;
      td,
      th {
        font-weight: bolder;
        padding: {
          top: $font-8;
          bottom: $font-8;
        }
      }
      td {
        color: #8f8f8f;
        button {
          color: $white;
          &.edit {
            background: #00b7eb;
          }
          &.del {
            background: #fe2712;
          }
        }
      }
      th {
        color: #1f1f1f;
        font-size: $font-14;
      }
    }
  }

  .mat-form-field {
    font-size: $font-14;
    width: 100%;
  }
  button {
    font-family: "Carnas-thin";
    font-weight: bold;
    &.add-emp {
      border: none;
      color: $white;
      @include setGradient(to top,rgb(2, 71, 254, 0.6),rgb(2, 71, 254, 0.9));
    }
  }
}
