<div class="container emp-dashboard px-3 pt-4">
    <div class="d-flex align-items-center justify-content-start mb-3">
        <button type="button" class="btn add-emp mr-4 py-2" (click)='addEmp()'>Add Employee</button>
        <div class="alert mb-0 py-2" [ngClass]="delClass" *ngIf="delMsg">
            <strong>
                {{delMsg}}
            </strong>
        </div>
    </div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="fname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.fname}}</td>
            </ng-container>

            <ng-container matColumnDef="lname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.lname}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No. </th>
                <td mat-cell *matCellDef="let row"> {{row.mobile}} </td>
            </ng-container>

            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
                <td mat-cell *matCellDef="let row"> {{row.salary}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let row">
                    <button type="button" class="btn edit mr-3"
                        (click)="editEmpForm(row)">{{row.action.edit}}</button>
                    <button type="button" class="btn del"
                        (click)="confirmDelete(row.id)">{{row.action.delete}}</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>